ion-header-bar{
    background-color: #A61818 !important;
}

.title{
    color: black !important;

.title-2help{
    margin: 7px !important;
}

.yes-text {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;
    color: rgb(111, 250, 111);
    opacity: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.no-text {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: rgb(255, 115, 115);
    opacity: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.scroll{
    padding:10px;
}

.header-icon{
    margin-top: 8px;
    display: block;
    font-size: 30px;
}

.help-settings-card{
    width: 250px;
    height: 250px;
    margin:30px auto;
}
.help-settings-card .container{
    height: 250px;
    width: 250px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    box-shadow: 3px 3px 11px 0 rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 3px 3px 11px 0 rgba(50, 50, 50, 0.75);
    border-radius: 30px;
    position: relative;
}

.swipe-card{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 250px;
    height: 250px;
}

.help-text{
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.help-settings-card textarea{
    text-align: center;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.need-help{
    font-size: 15px;

}

.new-card-btn{
    font-size: 30px !important;
}

.cards-header-btn{
    margin: 0 !important;
    color: #ccc !important;
}
.cards-header-btn:before{
    font-size: 30px !important;
}

.card-char-num{
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.change-color-span{
    position: absolute;
    bottom: 5px;
    left: 20px;
    cursor: pointer;
    font-size: 20px;
}

.publish-new-card{
    position: absolute;
    cursor: pointer;
    bottom: 5px;
    left:40%;
}


.user-img{
    position: relative;
    top: -3px;
    left: 0;
    border-radius: 70px;
}

.card-text{
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}


.tile {
    width:80px;
    height: 80px;
    background-color: grey;
    float: left;
    margin: 10px;
}
}

.tile.chosen {
    opacity: 0.4;
}

.tile {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: impact;
    color: black;
    text-decoration: none;
    line-height: 100%;
    word-wrap:wrap;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0px 15px 30px 0px;
    
    /* default button color */
    width: 80px;
    height: 80px;
    border-radius: 100px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }
    
}

.login-btn{
    width: 300px;
}

.intro-txt{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
    line-height: 1.5;
}

.img_cir{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 1px;
}

.pep_div{
    position: absolute;
}

.the-team{
    position: absolute;
    top: 3%;
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.pep_div > p{
    color: white;
    width: 100%;
    text-align: center;
}

.tracebook-login{
    width: 300px;
}

.wrapper{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}