<ion-header-bar class="bar-dark">
    <button class="button button-clear cards-header-btn" ng-click="goApp()"><img src="img/title-nav.png"/></button>
    <h1 class="title"><i class="icon header-icon ion-chatbubbles"></i></h1>
</ion-header-bar>
<ion-content scrollbar-y="false">
<ul class="list">

    	<a class="item item-thumbnail-left" href="#" ng-repeat="event in events" ng-click="agree(event.BusinessID)">
        <img ng-src="{{event.image}}">
        <h2>EVENT</h2>
        <p>{{event.businessname}}</p>
    	</a>

</ul>
</ion-content>
