<ion-header-bar class="bar-dark">
    <button class="button button-clear new-card-btn" ng-hide="isNewCardShown()" ng-click="ShowNewCard()">+</button>
    <h1 class="title"><i class="icon header-icon ion-person"></i></h1>
    <button class="button button-clear cards-header-btn" ng-click="goApp()"><img src="title-nav.png"/></button>
</ion-header-bar>
<ion-content scrollbar-y="false">
        <div ng-show="isNewCardShown()" class="help-settings-card">
            <div class="container" ng-style="{'background-color':newCard.background_color, 'color':newCard.color}">
                <span class="need-help">I need help in</span>
                <textarea rows="3" ng-blur="closeIfEmpty()" ng-keydown="check($event)" ng-model="newCard.text" autofocus maxlength="40" ng-style="{'background-color':newCard.background_color, 'color':newCard.color}"></textarea>
                <span class="card-char-num">{{40 - newCard.text.length}}</span>
                <span class="publish-new-card" ng-click="publish()">Publish</span>
                <span ng-show="newCard.text.length != 0" class="change-color-span" ng-click="changeColor()"><i class="icon ion-shuffle"></i></span>
            </div>
        </div>
        <div class="help-settings-card" ng-repeat="help in helps">
            <div class="container" ng-style="{'background-color':help.background_color, 'color':help.color}">
                <span class="need-help">I need help in</span>
                <div class="help-text" ng-bind="help.text"></div>
            </div>
        </div>
</ion-content>